header{
    width: 100%;
    height: 100px;
    background-color: #697096;
    display : flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    box-shadow: 3px 3px 3px black;
    z-index: 2;
}

#image_accueil{
    margin-top : 6%;
    margin-bottom: 6%;
    max-width: 100%;
    height: auto;
}

#titre{
    font-size: 2em;
    font-family: 'Acme', sans-serif;
    color: #ddcece;
}

html{
    background-color: #492D50;
    background-size : 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}

body{
    height:100%;
    margin : 0px;
    position: relative;
    display: flex;
    flex-direction: column;
}

#SS1{
    display: none;
    padding: 2%;
    width: 250px;
    margin-left : 135px;
    top:77px;
    text-align: left;
    font-size: 1.5em;
    height: 170px;
    font-family: 'Oswald', sans-serif;
}

#SS2{
    display: none;
    padding: 2%;
    width: 250px;
    margin-left : 135px;
    top:77px;
    text-align: left;
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    height: 170px;
}

#SS3{
    display: none;
    padding: 2%;
    width: 250px;
    margin-left: 135px;
    top:77px;
    text-align: left;
    font-size: 1.5em;
    height: 170px;
    font-family: 'Oswald', sans-serif;
}

#S1:hover #SS1{
    display: block;
    background-color: #909caf;
    position: fixed;
    border-radius: 0px 0px 15px 0px;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}

#S2:hover  #SS2{
    display: block;
    background-color: #909caf;
    position: fixed;
    border-radius: 0px 0px 15px 0px;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}

#S3:hover  #SS3{
    display: block;
    background-color: #909caf;
    position: fixed;
    border-radius: 0px 0px 15px 0px;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}

#S1, #S2, #S3, .optMenu, #Urgence, #Administration, #Contact{
    padding: 10%;
}

#menu{
    background-color : #492D50;
    color: #FFE4C4;
    width: 150px;
    text-align: center;
    top: 100px;
    position : fixed;
    z-index: 1;
}

#enTete{
    text-align : center;
    color : #B22222;
    text-decoration: underline;
}

#enTeteLog{
    text-align : center;
    color : #B22222;
    text-decoration: underline;
    margin-top: 15%;
}

#contenu{
    background-color : #aacddd;
    padding : 50px;
    text-align: justify;
    margin-top: 100px;
    margin-left: 150px;
    flex-grow: 1;
}

#enValeur{
    color:#B8860B;
    font-style:italic;
}

#image_pansement{
    width : 50%;	
}

#image_urgence{
    float : left;
    width : 45%;
    margin: 10px;
}

.notion{
    padding: 10px; 
    color: gold;
}

#tabAvis{
    border: 2px solid black;
    border-radius: 30px;
    padding: 15px;
	margin-top: 150px;
	background-color: grey; 
}	

button{
    margin-top: 10px;
}

.rdv{
    padding: 20px;
}

#register{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    border-radius :50px;
    background-color : grey;
    padding : 20px;
    width:500px;
}

.precision{
    font-size: 12px;
}

#conteneur{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    height: 75vh;
}

#connexion ul li a{
    text-decoration: none;
    color : white;
    font-size:1.2em;
}
#connexion ul li {
    list-style-type: none;
}

#connexion{
    border: solid 2px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #173751;
    transition-property: background-color;
    transition-duration: 0.8s;
}

#connexion:hover{
    background-color: #457ead;
}

#test1, #test2{
    transition-property: color;
    transition-duration: 0.5s;
}

#test1:hover{
    color: black;
    border-radius: 5px;
}

#test2:hover{
    color: black;
    border-radius: 5px;
}

#connexion ul{
    padding: 0;
}

#important{
    font-size:3em;
    text-decoration: none;
    color: #ddcece;
    cursor: initial;
}

footer{
    width:100%;
    padding-top:10px;
    background-color: #1e1e1e;
	color: white;
}

td{
    font-family: 'Acme', sans-serif;
    color: white;
    padding-left: 80px;
}

th{
    font-size: 1.1em;
    color: black;
    padding-right: 50px;
    padding-left: 50px;
}

table{
    width : 70%;
}

#Presentation{
    font-family: sans-serif;
    color: #8f16e0;
    text-shadow: 2px 2px 2px black;
    font-size: 2.5em;
}

a{
    text-decoration: none;
    color: white;
}

h1{
	margin-bottom: 70px;
}

.foot{
	color: white;
}

.test{
	width: 50px;
	height: 50px;
}